/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; outline: none; list-style-type: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Modal */
#overlay { position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); } 
#modal { position:absolute; z-index: 3999; } 
#modal-content { padding:20px; background-color: #fff; } 
#modal-close { position:absolute; display:block; top: -15px; right: -15px; color: #000; font-size: 25px; }

/* Message erreur ou info */
#message-info { position: fixed; width: 100%; top: -5px; left: 0px; z-index: 100; text-align: center; display: none; }
#message-info span { display: inline-block; padding: 20px; background-color: #fff; font-size: 16px; }
#message-info span.info { color: #4c8a3d; border: solid 5px #4c8a3d; }
#message-info span.erreur{ color: #ff0000; border: solid 5px #ff0000; }

/* Global */
* { font-family: 'Open Sans', sans-serif; } /* 300/400/600/700 -> graisse + italique */
body, html { background-color: #bbb; font-size: 13px; color: #000; }

a { color: #252525; text-decoration: none; transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; }
a:hover { color: #99885C; }

#wrap { width: 100%; }
#wrap-container { padding: 25px 25px 0 275px; }

#wrap-container h1 { font-weight: 400; font-size: 30px; border-bottom: dashed 1px #ccc; padding-bottom: 5px; margin-bottom: 25px; }

#wrap-container #barre-outils { margin-bottom: 25px; background-color: #252525; padding: 10px 0; width: 100%; overflow: hidden; }
#wrap-container #barre-outils #barre-outils-actions { float: right; margin-right: 10px; }
#wrap-container #barre-outils #barre-outils-actions a { margin-left: 10px; background-color: #99885C; color: #fff; padding: 5px 10px; display: inline-block; }
#wrap-container #barre-outils #barre-outils-form { float: left; margin-left: 10px; }
#wrap-container #barre-outils #barre-outils-form a { margin-right: 10px; background-color: #99885C; color: #fff; padding: 5px 10px; display: inline-block; }
#wrap-container #barre-outils a i { margin-right: 5px; }

#wrap-container section { width: 100%; background-color: #fff; margin-bottom: 25px; }
#wrap-container section .section-container { padding: 25px; }
#wrap-container section .section-container h2 { font-weight: 400; font-size: 20px; border-bottom: dashed 1px #ccc; padding-bottom: 5px; margin-bottom: 25px; }

#wrap-container section .section-container .liste-doc ul li { width: 100%; overflow: hidden; padding: 5px 0; }
#wrap-container section .section-container .liste-doc ul li.ui-state-highlight { height: 50px; }
#wrap-container section .section-container .liste-doc ul li:nth-child(even) { background-color: #ddd; }
#wrap-container section .section-container .liste-doc ul li img { display: block; float: left; margin: 0 25px; }
#wrap-container section .section-container .liste-doc ul li span { display: block; float: left; padding-top: 45px; }
#wrap-container section .section-container .liste-doc ul#ul-doc li span { padding-top: 0; }
#wrap-container section .section-container .liste-doc ul li span.liste-doc-ordre { font-weight: 600; width: 50px; text-align: center; }
#wrap-container section .section-container .liste-doc ul li span.liste-doc-delete { float: right; width: 50px; text-align: center; font-size: 25px; }

#wrap-container table { width: 100%; border-collapse: collapse; padding: 0; margin: 0; }
#wrap-container table tr td, #wrap-container table tr th { padding: 5px 10px; text-align: left; border: solid 1px #ccc; }
#wrap-container table tr th { text-align: center; font-weight: 600; }
#wrap-container table tr:nth-child(even) { background-color: #ddd; }
#wrap-container table .center { text-align: center; }
#wrap-container table .right { text-align: right; }
#wrap-container table tr th span { display: inline-block; padding-left: 5px; }
#wrap-container table tr th span a { display: inline-block; margin: 0 -3px;}
#wrap-container table tr th span a i { color: #ccc; }
#wrap-container table tr th span a.actif i { color: #99885C; }

#wrap-container #pagination { text-align: center; }
#wrap-container #pagination a { display: inline-block; padding: 3px 8px; background-color: #252525; color: #fff; margin: 0 5px; }
#wrap-container #pagination a.actif, #wrap-container #pagination a:hover { background-color: #99885C; }

/* Navigation */
#navigation { position: fixed; top: 0px; left: 0px; width: 250px; height: 100%; background-color: #252525; color: #fff; }
#navigation #logo { text-align: center; padding: 25px 0; }
#navigation #logo img { display: block; margin: 0 auto; }
#navigation #logo span { display: block; padding-top: 10px; font-size: 25px; font-weight: 300; }
#navigation #menu ul li a { display: block; color: #fff; padding: 5px 10px; }
#navigation #menu ul li a i { margin-right: 5px; }
#navigation #menu ul li a:hover, #navigation #menu ul li a.actif { background-color: #99885C; color: #fff; border-right: 10px solid #fff; }
#navigation #navigation-langues { padding: 10px 0; margin-bottom: 20px; background-color: #3d3d3d; text-align: center; font-weight: 700; }

/* Footer */
footer { padding: 50px 0 0 275px; text-align: center; color: #555; font-size: 12px; }
footer#footer-connexion { padding: 50px 0; }
footer a { color: #555; }
footer #footer-social { padding: 10px 0; font-size: 20px; }

/* Formulaire */
form input:focus { outline: 0; }
form p label { display: block; padding-bottom: 3px; }
form p span { display: block; width: 100%; overflow: hidden; margin-bottom: 20px; background-color: #efefef; border-bottom: solid 1px #99885C; position: relative; }
form p span input { border: none; background-color: transparent; padding: 5px 0; width: 100%; }
form p span textarea { border: none; background-color: transparent; padding: 5px 0; width: 100%; resize: vertical; }
form p span i { margin: 0 10px; }
form p#p-submit { text-align: right; }
form p#p-submit input { background-color: #252525; color: #fff; border: none; cursor: pointer; padding: 3px 10px; transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; }
form p#p-submit input:hover { background-color: #99885C; }

#wrap-container form section p span input { display: block; width: 98%; margin: 0 auto; }
#wrap-container form section p span textarea { display: block; width: 98%; margin: 0 auto; }

form p#p-chps-obligatoires { font-size: 11px; font-weight: 300; font-style: italic; }

form p.p-checkbox-radio input { vertical-align: middle; }
form p.p-checkbox-radio label { display: inline; }

/* Page de connexion */
#page-connexion { padding: 50px 0 0 0; }
#page-connexion h1 { font-size: 25px; font-weight: 300; text-align: center; color: #777; }
#page-connexion form { width: 500px; padding: 65px 25px 25px 25px; background-color: #fff; margin: 100px auto 0 auto; position: relative; -webkit-box-shadow: 0 0 5px 0 #C9C9C9; box-shadow: 0 0 5px 0 #C9C9C9; }
#page-connexion form h2 { position: absolute; left: 0px; top: -60px; width: 100%; text-align: center; }
#page-connexion form p span input { width: 440px; }

/* Loader ordre  */
#loader-ordre { display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); z-index: 1000; }
#loader-ordre div { position: absolute; left: 50%; top: 50%; margin: -50px 0 0 -200px; width: 400px; height: 100px; background-color: #fff; text-align: center; line-height: 100px; font-size: 30px; }

/* Logs */
#page-logs .section-container p { padding: 5px 0; }
#page-logs .section-container p:nth-child(even) { background-color: #eee; }
#page-logs .section-container p, #page-logs .section-container p * { font-family: "Courier New"; }

/* Galerie */
#page-galerie .sortable-galerie li { width: 100%; overflow: hidden; padding: 5px 0; }
#page-galerie .sortable-galerie li.selected { background-color: #ccc; }
#page-galerie .sortable-galerie li div { float: left; margin-right: 2%; }
#page-galerie .sortable-galerie li div.sortable-galerie-nom { width: 76%; }
#page-galerie .sortable-galerie li div.sortable-galerie-select{ width: 4%; text-align: center; }
#page-galerie .sortable-galerie li div.sortable-galerie-ordre { width: 4%; text-align: center; }
#page-galerie .sortable-galerie li div.sortable-galerie-modifier { width: 4%; text-align: center; }
#page-galerie .sortable-galerie li div.sortable-galerie-supprimer { width: 4%; text-align: center; margin-right: 0; }
#page-galerie .sortable-galerie input { border: none; border-bottom: solid 1px #99885C; background-color: #efefef; padding: 5px 1%; width: 98%; }

#page-galerie #upload-container { padding: 10px; margin-bottom: 20px; background-color: #eee; border: dashed #99885C 2px; display: none; }
#page-galerie #upload-container div { text-align: center; font-size: 18px; color: #888; }
#page-galerie #upload-container a { display: block; width: 300px; text-align: center; margin: 20px auto 0 auto; background-color: #000; text-decoration: none; padding: 10px 0; color: #fff; }
#page-galerie #upload-container a:hover { background-color: #99885C; }
#page-galerie #upload-console { margin-bottom: 20px; color: #ff0000; font-weight: 600; }
#page-galerie #galerie-filelist .galerie-filelist-photo { width: 100%; overflow: hidden; margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px #ccc; }
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-simulation-vignette { float: left; width: 110px; height: 110px; position: relative; background: #99885C; }
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-simulation-vignette span { display: block; position: absolute; top: 0px; left: 0px; width: 110px; height: 110px; color: #fff; text-align: center; line-height: 110px; }
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-chargement { float: left; padding: 45px 0 0 20px; }
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-photo-img { float: left; width: 15%; }
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-photo-img img { display: block; max-width: 80%; }
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-photo-input { float: left; width: 70%; }
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-photo-input input { border: none; border-bottom: solid 1px #99885C; background-color: #efefef; padding: 5px 1%; width: 98%; margin: 0 auto; display: block; }
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-photo-modifier,
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-photo-ordre,
#page-galerie #galerie-filelist .galerie-filelist-photo .galerie-filelist-photo-supprimer { float: left; width: 5%; text-align: center; }