/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; outline: none; list-style-type: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Modal */
#overlay { position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); } 
#modal { position:absolute; z-index: 3999; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); } 
#modal-content { background-color: #fff; overflow: auto; max-width: 100%; max-height: 100%; } 
#modal-content-pad { padding: 20px; }
#modal-close { position:absolute; display:block; top: -15px; right: -15px; color: #000; font-size: 25px; }

/* Global */
#message-info { position: fixed; width: 100%; top: -5px; left: 0px; z-index: 100; text-align: center; visibility: hidden; opacity: 0; transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; }
#message-info.show { visibility: visible; opacity: 1; }
#message-info span { display: inline-block; padding: 20px; background-color: #fff; font-size: 16px; }
#message-info span.info { color: #4c8a3d; border: solid 5px #4c8a3d; }
#message-info span.erreur{ color: #ff0000; border: solid 5px #ff0000; }

/* Header */


/* Footer */
