<!doctype html>
<html lang="{{ CURRENT_LANGUAGE }}" prefix="og: http://ogp.me/ns#">

    <head>

        <meta charset="utf-8" />
        <meta name="author" content="ID PARALLELE - Andy Durbecq" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta property="og:description" content="{{ block('meta_description') }}" />

        <title>{% block meta_title %}{{ TITLE|title }}{% endblock %}</title> 
        <meta property="og:title" content="{{ block('meta_title') }}" />

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes" />       


        <!-- Generic Icon -->
        <link rel="shortcut icon" href="{{ WEB_DIR_URL }}/images/favicon.ico" />

        <!-- Css -->
        <link rel="stylesheet" href="{{ WEB_DIR_URL }}/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ WEB_DIR_URL }}/css/style.css" />
        {% block css_files %}{% endblock %}

        <!--[if lte IE 8]>
            <script type="text/javascript" src="{{ WEB_DIR_URL }}/javascript/html5.js"></script> 
        <![endif]-->

    </head>

    <body>     
        {% if GOOGLE_ANALYTICS is not empty %}            
            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <script>
                (function (b, o, i, l, e, r) {
                    b.GoogleAnalyticsObject = l;
                    b[l] || (b[l] =
                            function () {
                                (b[l].q = b[l].q || []).push(arguments)
                            });
                    b[l].l = +new Date;
                    e = o.createElement(i);
                    r = o.getElementsByTagName(i)[0];
                    e.src = '//www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e, r)
                }(window, document, 'script', 'ga'));
                ga('create', '{{ GOOGLE_ANALYTICS }}');
                ga('send', 'pageview');
            </script>
        {% endif %}

        <div id="message-info"><span class="erreur"></span></div>
        
        {% block body_content %}{% endblock %}

        <!-- Js -->        
        <script type="text/javascript" src="{{ WEB_DIR_URL }}/javascript/modal.js"></script>
        {% block javascript_files %}{% endblock %}  
        <script type="text/javascript" src="{{ WEB_DIR_URL }}/javascript/main.js"></script>                 

    </body>
</html>